@import "tailwindcss";
@import "@nuxt/ui";

html, body, #__nuxt {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0f;
  color: #c8c8d4;
  font-family: system-ui, -apple-system, sans-serif;
}
